body{
    margin: 0;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.navs{
    display: flex;
    justify-content: space-between;
    padding: 7px 2px;
    background: linear-gradient(to left, #000046, #1cb5e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.box-image{
    width: 20px;
    height: 20px;
}

.nav2 ul{
    font-weight: bold;
    display: inline-flex;
}

a{
    color: rgb(255, 255, 255);
}

.nav2 ul li {
    list-style: none;
    margin-right: 25px;
    margin-left: 25px;
    height: 30px;
    line-height: 30px;
    padding: 2px 10px;
}

.nav2 a{
    text-decoration: none;
}

.nav2 a:hover{
    text-decoration:underline; 
}

.nav3{
    margin: 0;
}

.nav3 ul{
    display: flex;
}

.nav3 ul a{
    list-style: none;
    margin:0;
    padding: 2px 5px;
    color: black;
}

span{
    color: black;
}

.nav3 ul li {
    list-style: none;
}
.marg{
    margin-top: 25px;
    margin-left: 15px;
    margin-bottom: 45px;
}
.green{
    color :green;
}

.grey{
    color: grey;
}

.carte {
    border-radius: 15px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
    border:0.1px solid #000000;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 222px;
    background-color: rgb(239, 235, 242);
    height: 420px;
    transition: transform .1s; /* Animation */
}
.carte:hover{
    transform: scale(1.01); /* Scale Up */
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.5);
}

.text {
    
    margin-bottom: 3px;
    margin-left: 15px;
}
.bottom {
    margin-top: 0;
    margin-bottom: 40px;
}

.carte img {
    border-radius: 14px;
    width: 222px;
}

.cartes{
    display: flex;
    justify-content: center;
}

@media screen and (max-width:768px) {
    .navs{
        display: block !important;
    }
    .nav1{
        margin-left: 47%;
    }
    .nav2{
        display: block;
    }
    .nav2 ul li {
    font-size: 20px;
    margin-left:26px;
    margin-right:25px;
    }
    .nav2 ul li a {
    text-decoration: none;
    }
    
    .nav2{
        margin-left: -10px;
    }

    .cartes{
        flex-wrap: wrap;
    }
}

@media screen and ( max-width:323px) {
    .nav1{
        margin-left: 40%;
    }
    .nav2{
        margin-bottom: 0;
    }
    .nav2 ul li {
        font-size: 10px !important;
        margin-left: 3px !important;
        padding: 5px !important;;
    }
    .nav2 ul li a {
        text-decoration: none;
    }
    
    .nav2{
        margin-left: -70px !important;
    }
}
@media screen and ( max-width:380px) {
    .nav2 ul{
        padding-left: -90px;
    }
    .nav2 ul li *{
        font-size: 12px !important;
        margin: 0;
        padding: 0;
    }
    .nav2 ul li a {
        text-decoration: none;
    }
    
    .nav2{
        margin-left: -30px!important;
    }
}
@media screen and ( max-width:430px) {
    
    .nav1{
        margin-left: 43%!important;
    }
    .nav2 ul{
        margin-left: 25px;
    }
    .nav2 ul li {
        font-size: 14px !important;
        margin-left:5px;
        margin-right:2px;
    }
    .nav2 ul li a {
        text-decoration: none;
    }
    
    .nav2{
        margin-left: -60px !important;
    }
}
@media screen and ( max-width:500px) {
    
    .nav1{
        margin-left: 45%;
    }
    
    .nav2 ul li {
        font-size: 12px;
        margin-left:10px;
        margin-right:2px;
    }
    .nav2 ul li a {
        text-decoration: none;
    }
    
    .nav2{
        margin-left: -34px;
    }
}
@media screen and ( max-width:280px) {
    .navs{
        padding-bottom: -15px;
        padding-left: 5px;
    }
    .nav1{
        margin-left: 38%;
    }

    .nav2 ul{
        display: inline-block;
        padding-left: 120px;
    }
    
    .nav2 ul li {
        font-size: 9px;
        margin-left:2px;
        margin-right:0px;
    }
    .nav2 ul li a {
        text-decoration: none;
    }
    
    .nav2{
        margin-left: -54px;
    }
}

@media screen and (min-width:1020px){
    .nav1 {
        margin-left: 5px;
    }
}