body{
    margin: 0;
}

.navs{
    
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    background: linear-gradient(to left, #000046, #1cb5e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.box-image{
    width: 20px;
    height: 20px;
}
    .nav2{

}
.nav2 ul{
    font-weight: bold;
    display: inline-flex;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.nav2 ul li {
    list-style: none;
    margin-right: 25px;
    margin-left: 25px;
    height: 30px;
    line-height: 30px;
    padding: 2px 10px;
}

.nav3{
    margin: 10px 70px;
}
.nav3 ul{
    display: flex;
}
.nav3 ul li *{
    list-style: none;
    margin-right: 15px;
    margin-left: 15px;
    height: 30px;
    line-height: 30px;
    padding: 2px 10px;
    color: black;
}
.nav3 ul li {
    text-decoration:none;
    color: #fcfcfc;
}
.marg{
    margin-top: 25px;
    margin-left: 15px;
    margin-bottom: 45px;
}
.green{
    color :green;
}

.grey{
    color: grey;
}

.carte {
    border-radius: 15px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
    border:0.1px solid #000000;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 222px;
    background-color: rgb(239, 235, 242);
    height: 420px;
    transition: transform .1s; /* Animation */
}
.carte:hover{
    transform: scale(1.01); /* Scale Up */
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.5);
}

.text {
    
    margin-bottom: 3px;
    margin-left: 15px;
}
.bottom {
    margin-top: 0;
    margin-bottom: 40px;
}

.carte img {
    border-radius: 14px;
    width: 222px;
}

.cartes{
    display: flex;
}

@media screen and (max-width:768px) {
    .navs{
        display: block !important;
    }
    .nav1{
        margin-left: 47%;
    }
    .nav2{
        display: block;
    }
    .nav2 ul li {
    font-size: 20px;
    margin-left:26px;
    margin-right:25px;
    }
    .nav2 ul li a {
    text-decoration: none;
    }
    
    .nav2{
        margin-left: -60px;
    }

    .cartes{
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and ( max-width:320px) {
    .navs{
        display: block !important;
    }
    .nav1{
        margin-left: 40%;
    }
    .nav2{
        display: block !important;
        
    }
    .nav2 ul li {
        font-size: 10px;
        margin-left:0px;
        margin-right:0px;
        align-items: center;
    }
    .nav2 ul li a {
        text-decoration: none;
    }
    
    .nav2{
        margin-left: -50px;
    }
}
@media screen and ( max-width:425px) {
    .navs{
        display: block !important;
    }
    .nav1{
        margin-left: 43%;
    }
    .nav2{
        display: block;
    }
    .nav2 ul li {
        font-size: 13px;
        margin-left:10px;
        margin-right:2px;
    }
    .nav2 ul li a {
        text-decoration: none;
    }
    
    .nav2{
        margin-left: -50px;
    }
}